{% if userImpersonatorHint() is not empty %}
    <div class="item user-impersonate-hint">
        {{ "sylius.user_impersonator.hint"|trans({"{{impersonator_username}}": userImpersonatorHint()}) }}
    </div>
{% endif %}
